.env
__pycache__/
*.pyc
.DS_Store
mlruns/
venv/
.venv/
awscliv2.zip
install
infra/terraform/.terraform/
infra/terraform/terraform.tfstate
infra/terraform/terraform.tfstate.backup
infra/terraform/.terraform.lock.hcl
